---
layout: default
title: Upgrade to Enterprise Edition
suppress_header: true
extra_css:
  - installation.css
extra_js:
  - installation.js
  - libs/clipboard.min.js
  - bootstrap-tooltip.js
  - copy-button.js
---
.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1 Upgrade to Enterprise Edition
  #content
    .wrapper.container{role: "main"}
      .method
        .method-content
          %h2.block-title Introduction
          %p.text-center
            GitLab Enterprise Edition includes advanced features and functionality not available in the Community Edition. An Enterprise Edition license is needed to enable these features. If you do not have a license,
            = succeed "." do
              = link_to "start a free trial", "https://docs.gitlab.com/ce/install/requirements.html#cpu", target: "_blank", rel: "noopener noreferrer nofollow"

      .method.omnibus
        .method-content
          %h2.block-title{id: "#omnibus"} Omnibus based installations
          %ul.flex-tile-list
            - data.platforms_upgrade.each_with_index do |distro, index|
              %li.distro-tile{ class: "distro-tile-#{index + 1}" }
                %a.js-distro-tile{ href: "##{distro.name}" }
                  .tile-image
                    = partial distro.icon
                  %span.tile-title
                    = distro.title
                  %br
                  %span.light
                    = distro.subtitle
              %li.distro-content.js-distro-content.hidden{ class: "distro-content-#{index + 1}", id: distro.name }
                .js-platform-ee.js-install-instructions
                  = partial "_platform", locals: { platform: distro }

      .method.official
        .method-content
          %h2.block-title Other official installation methods
          %ul.flex-tile-list
            - data.upgrade_methods.official.each do |method|
              %li
                %a{href: method.url}
                  .tile-image
                    = partial method.logo
                  %span.tile-title
                    = method.name
                  %br
                  %span.light
                    = method.desc
