---
layout: job_page
title: "Security Engineering Management"
---

## Security Engineering Management Roles at GitLab

Managers in the security engineering department at GitLab see the team as their product. While they are technically credible and know the details of what security engineers work on, their time is spent hiring a world-class team and putting them in the best position to succeed. They own the delivery of security commitments and are always looking to improve productivity. They must also coordinate across departments to accomplish collaborative goals.


### Security Engineering Manager

* Hire a world class team of security engineers to work on their team
* Help security engineers grow their skills and experience
* Conducts reviews on security architecture, issues, and features
* Hold regular 1:1's with all members their team
* Create a sense of psychological safety on your team
* Recommend security-related technical and process improvements
* Exquisite written and verbal communication skills
* Author project plans for security initiatives
* Draft quarterly OKRs
* Train engineers to screen applicants and conduct managerial interviews
* Strong sense of ownership, urgency, and drive
* Excellent written and verbal communication skills, especially experience with executive-level communications
* Ability to make concrete progress in the face of ambiguity and imperfect knowledge


### Director of Security

The Director of Security role extends the [Security Engineering Manager](#security-engineering-manager) role.

* Own all of GitLab security, including security compliance, internal and product security
* Hire a world class team of managers and security engineers to work on their teams
* Help their managers and security engineers grow their skills and experience
* Manage multiple teams and projects
* Hold regular skip-level 1:1's with all members of their team
* Create a sense of psychological safety on your teams
* Drive technical and process improvements
* Drive quarterly OKRs
* Represent the company publicly at conferences


<%= partial "includes/apply_and_about" %>
