---
layout: job_page
title: "Services Support (GitLab.com / GitHost)"
---

At GitLab on the Support Team we focus on three offerings:

+ GitLab EE - On premise Enterprise Edition
+ GitHost - Our own Hosted GitLab platform as a service
+ Gitlab.com - The world’s largest GitLab instance and our SaaS offering.

This is where you come in. We’re building a Services Support team and we want you to focus on making the GitLab.com & GitHost support experience the best it can be. Have ideas about process? Great! Comfortable writing user and internal documentation? Even better! Want to get your ideas into actionable code? Our Product team works with support feedback every day to improve our products so your voice will be heard loud and clear.

The ideal candidate is someone who wants to be on the support side and who wants to learn more about how modern services can be supported via action. We have a “green field” in the sense that we need to identify the right process for these services. If that excites you please reach out! On the other hand, If you know what `“ps aux | grep gitlab”` means, you’ll probably be a better fit for our [Support Engineer](https://about.gitlab.com/jobs/support-engineer/) role. We are also hiring there too!

We are looking for skilled people around the world. If you would love to work remotely and help GitLab grow, this is the right spot for you.

## Responsibilities
+ Engage with our GitLab.com customers — anything from a small advertising firm or a university, to Fortune 100 clients
+ Triage customer issues on the support issue tracker and via Zendesk.
+ Submit and comment on bug reports and feature requests based on customer interactions
+ Create and update documentation based on customer interactions
+ Engage with the development team to escalate bugs, solve problems, or obtain missing information
+ Ensure the knowledge we gain from running GitLab.com is shared with customers and users
+ Take ownership and work to manage the entire issue lifecycle, from customer, to development team, to resolution
+ Maintain good ticket performance and satisfaction
+ Meet or exceed SLA times consistently

## Requirements
+ Affinity for (and experience with) providing customer support
+ Ideally 1+ year experience with supporting MVC / SaaS applications
+ Understand the basics of Git terminology
+ Excellent spoken and written English
+ You share our [values](/handbook/values), and work in accordance with those values
+ Successful completion of a [background check](/handbook/people-operations/#background-checks).


## Hiring Process

Applicants for this position can expect the hiring process to follow the order below. Please keep in mind that applicants can be declined from the position at any stage of the process. To learn more about someone who may be conducting the interview, find her/his job title on our [team page](/team).

* Qualified applicants receive a short questionnaire from our Global Recruiters
* Selected candidates will be invited to schedule a 30min [screening call](/handbook/hiring/#screening-call) with our Global Recruiters
* A GitLab Team member from any team will conduct a behavioral interview to get a sense of your work experience.
* Candidates will then be invited to schedule a customer Support interview with a Support Engineer
* Candidates may be invited to schedule an interview with our Support Lead
* Successful candidates will subsequently be made an offer via email

Additional details about our process can be found on our [hiring page](/handbook/hiring).


<%= partial "includes/apply_and_about" %>
